<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118013987-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118013987-1');
</script>

<script type="application/ld+json">
{

  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "https://www.netket.org",
  "logo": "https://www.netket.org/img/logo_small.jpg"
  "sameAs": [
    "https://twitter.com/NetKetOrg",
    "https://github.com/NetKet/netket"
  ]

}
</script>
